.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.lead {
  color: black;
  font-family: 'Roboto', sans-serif;
}

.title-logo {
  border-radius: 20%;
  margin-right: 40px;
}

.title-text {
  font-size: 70px;
  color: black;
  font-family: 'Anton', sans-serif;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.school-logo {
  margin-left: 20px;
  margin-bottom: 10px;
  height: 40px;
  width: 
}

#about-us-body {
  background-color: black;
}

#contact-info-body {
  background-color: black;
}
